/** GLOBAL STYLES **/
/***CHANGE THE VALUES OF THE CSS VARIABLE BELOW TO CHANGE MUTIPLE FIELDS ***/
:root {
  --topANDbottom-CENTER-row-gap: 1px;
  --middle-CENTER-row-gap: 0.5px;
  --gap-BETWEEN-rows: 2px;
  --btnColor:white;
  --btnColorsOnHover: #ffe101;
  --navBARcolor:#232323;
  --navBarElementsColor: #cdcdcd;
  --navBarElementsOnHoverColor: #f8e71c;
}

* {
  margin: 0;
}

body {
  /***THIS IS TO MAKE THE FOOTER STICK TO THE BOTTOM OF THE PAGE. MAKE THIS BIGGER TO INCREASE PAGE LENGTH***/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: Sans-Serif;
  background-color: rgb(214, 214, 214); 
}

/************************* HEX STYLES **************************************!*/
  



/************************* END OF HEX STYLE ************************************!*/



/*************************    BUTTON STYLES      **********************************!*/

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 1%;
  margin-bottom: 4%;
}

.Shufflebtn {
  background-color: var(--btnColor);
  border: 2px solid rgb(209, 208, 208);
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 100px;
  padding: 10px;
}

.Shufflebtn:hover {
  background-color: var(--btnColorsOnHover);
  cursor: pointer;
}

.btnStyling {
  background-color: var(--btnColor);
  border: 2px solid rgb(209, 208, 208);
  color: rgb(0, 0, 0);
  padding: 4px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  width: 7%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btnStyling:hover
{
  background-color: var(--btnColorsOnHover);
  cursor: pointer;
}

/*************************   END OF BUTTON STYLES  **********************************!*/



/************************* GENERAL BODY STYLES **************************************!*/

#userInput
{
  outline: none;
  caret-color: red;
  border: none;
  font-size: 20px;
  text-align: center;
}

.input {
  display: grid;
  justify-content: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#test {
  text-align: center;
  margin-top: 2px;
  background-color: red;
  margin-bottom: 2px;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: red;
}

#block
{
  z-index: 1;
  font-size: 26px;
}

/************************* END OF GENERAL BODY STYLES ************************************!*/



/************************* HEX GRID CONTAINER STYLES **************************************!*/

.hexGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-BETWEEN-rows);
  margin-top: 2%;
}

.topRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--topANDbottom-CENTER-row-gap);
}

.middleRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--middle-CENTER-row-gap);
}

.bottomRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--topANDbottom-CENTER-row-gap);
}

/************************* END OF HEX GRID CONTAINER STYLES ************************************!*/ 








/************************* NAVIGATION BAR STYLES ***********************************************!*/
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  background: var(--navBARcolor);
  color: var(--navBarElementsColor);
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: var(--navBarElementsOnHoverColor);
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #cdcdcd;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #cdcdcd;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
  /**************************************END OF NAVBAR STYLES*************************************/



}
