/******************************* GLOBAL STYLES **********************************!*/
:root {
  --topANDbottom-CENTER-row-gap: 1px;
  --middle-CENTER-row-gap: 0.5px;
  --gap-BETWEEN-rows: 2px;
  --btnColor: white;
  --btnColorsOnHover: rgb(238, 206, 44);
  --navBARcolor: #232323;
  --navBarElementsColor: #cdcdcd;
  --navBarElementsOnHoverColor: #f8e71c;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: white;
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

/*************************  END OF GLOBAL STYLES **********************************!*/



/*************************    BUTTON STYLES      **********************************!*/

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 1%;
  margin-bottom: 4%;
}

.Shufflebtn {
  background-color: var(--btnColor);
  border: 2px solid rgb(209, 208, 208);
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 100px;
  padding: 10px;
}

.Shufflebtn:hover {
  background-color: var(--btnColorsOnHover);
  cursor: pointer;
}

.btnStyling {
  background-color: var(--btnColor);
  border: 2px solid rgb(209, 208, 208);
  color: rgb(0, 0, 0);
  padding: 2px;
  text-align: center;
  border-radius: 100px;
  min-width: 8%;
  max-width: 25%;
  min-height: 8%;
  font-size: 25px;
  transition: all 0.3s ease;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.btnStyling:hover {
  background-color: var(--btnColorsOnHover);
  cursor: pointer;
}


/*************************   END OF BUTTON STYLES  **********************************!*/



/************************* GENERAL BODY STYLES **************************************!*/
text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

#errorMessage {
  text-align: center;
  color: rgb(169, 57, 57);
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  padding-top: 30px;
}

#textArea {
  resize: none;
  border-radius: 9px;
  height: 50%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

#userInput {
  outline: none;
  caret-color: rgb(248, 205, 5);
  border: none;
  font-size: 40px;
  text-align: center;
  background-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item1 {
  display: flex;
  justify-content: center;
}

.item2 {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#test {
  text-align: center;
  margin-top: 2px;
  background-color: red;
  margin-bottom: 2px;
}

footer {
  margin-top: auto;
  text-align: center;
  display: inline-block;
  font-size: medium;
}

a:visited {
  text-decoration: none;
  color: black;
}

#block {
  z-index: 1;
  font-size: 26px;
}

/************************* END OF GENERAL BODY STYLES ************************************!*/



/************************* HEX GRID CONTAINER STYLES **************************************!*/

.hexGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-BETWEEN-rows);
}

.topRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--topANDbottom-CENTER-row-gap);
}

.middleRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--middle-CENTER-row-gap);
}

.bottomRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--topANDbottom-CENTER-row-gap);
}

/************************* END OF HEX GRID CONTAINER STYLES ************************************!*/



/************************* NAVIGATION BAR STYLES ***********************************************!*/
:root {
  --color-white-100: hsl(206, 5%, 98%);
  --color-white-200: hsl(206, 5%, 90%);
  --color-white-300: hsl(206, 5%, 80%);
  --color-white-400: hsl(206, 5%, 65%);
  --color-white-500: hsl(206, 5%, 50%);
  --color-black-100: hsl(213, 23%, 8%);
  --color-black-200: hsl(214, 21%, 6%);
  --color-black-300: hsl(210, 21%, 6%);
  --color-black-400: hsl(216, 22%, 4%);
  --color-black-500: hsl(220, 18%, 3%);
  --color-pink-100: hsl(60, 90%, 51%);
  --color-pink-200: hsl(258, 86%, 80%);
  --color-pink-300: hsl(48, 100%, 49%);
  --color-pink-400: hsl(44, 97%, 50%);
  --color-pink-500: hsl(43, 89%, 48%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: var(--color-black-500);
  background-color: var(--color-white-100);
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  box-shadow: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: inherit;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--color-pink-500);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  box-shadow: var(--shadow-medium);
  background-color: var(--color-white-100);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  height: 3.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: var(--shadow-medium);
    background-color: var(--color-white-100);
    transition: all 0.5s ease;
  }
  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }
}

.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
}
.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--color-black-500);
  transition: all 0.3s ease-in-out;
}
.menu-link > i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
}
.menu-link:hover {
  outline: none;
  color: var(--color-pink-500);
}
@media only screen and (min-width: 993px) {
  .menu-dropdown:hover > .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 992px) {
  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .menu-item {
    display: block;
    margin: 0 auto;
  }
  .menu-link {
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
  }
}

.submenu {
  position: absolute;
  top: 2.35rem;
  left: -2rem;
  min-width: 13rem;
  height: auto;
  padding: 0 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 2px solid var(--color-pink-400);
  box-shadow: var(--shadow-medium);
  background-color: var(--color-white-100);
  transition: all 0.3s ease-in-out;
}
.submenu-item {
  display: block;
  margin-top: 0.75rem;
}
.submenu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  color: var(--color-black-500);
  transition: all 0.35s ease;
}
.submenu-link:hover {
  outline: none;
  color: var(--color-pink-500);
}
@media only screen and (max-width: 992px) {
  .submenu {
    position: relative;
    top: -0.5rem;
    left: 2.5rem;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transform: translateY(0px);
    box-shadow: none;
    background: transparent;
  }
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 1.75rem;
  height: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border: none;
  outline: none;
  background: var(--color-black-500);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
@media only screen and (max-width: 992px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}
@media only screen and (max-width: 992px) {
  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/**************************************END OF NAVBAR STYLES*************************************/